PORT=3000
# Para usar MongoDB localmente:
MONGO_URI=mongodb://127.0.0.1:27017/mate_travel

# Si usas MongoDB en la nube (Atlas), descomenta la siguiente línea y pon tu URI:
# MONGO_URI=<tu_uri_de_mongodb>

JWT_SECRET=matetravel_secreto_2026
JWT_EXPIRES_IN=7d
