.main-content {
  margin-left: 280px;
  transition: margin-left 0.3s ease-in-out;
}

.theme-toggle-btn {
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 991.98px) {
  .main-content {
    margin-left: 0;
  }
}
